@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500;700&display=swap');

:root {
  --fondo: #08080B;
  --txt-btn: rgb(8, 8, 11);
  --fondo-transp: rgba(8, 8, 11, 0.522);
  --componente: rgb(22, 22, 29);
  --componente-transp: rgba(22, 22, 29, 0.388);
  --componente-transp-2: rgba(22, 22, 29, 0.8);
  --texto: #F3F3F6;
  --dorado: #efb810;
  --dorado-transp: #d0a5242e;
  --box-shadow: 0 18px 40px rgba(0, 0, 0, .15), 0 2px 10px rgba(0, 0, 0, .01), inset 0 1px 0 rgba(255, 255, 255, .08);

  --box-shadow-hover:
    0 2px 4px rgba(0, 0, 0, 0.4),
    0 12px 32px rgba(0, 0, 0, 0.45);


  --borde: #ffffff12;
  --borde-hover: rgba(120, 117, 117, 0.53);
  --texto-gris: #8B8B96;
  --texto-gris-oscuro: #5C5C68;
  --rojo: #ff5a4a;
  --rojo-transp-2: #de594d;
  --rojo-transp: rgba(201, 69, 57, 0.293);
}


html {
  background: var(--fondo);
  color: var(--texto);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", system-ui, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 84px;
  overflow-x: hidden;
}



h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Oswald'
}





.acento-rosa {
  --acento: #ff1493;
  --acento-transp: rgba(255, 20, 147, 0.675);
  --acento-transp-2: rgba(255, 20, 147, 0.16);
}

.acento-naranja {
  --acento: #ff9a4a;
  --acento-transp: rgba(255, 154, 74, 0.675);
  --acento-transp-2: rgba(255, 154, 74, 0.16);
}

.acento-violeta {
  --acento: #b28aff;
  --acento-transp: rgba(178, 138, 255, 0.675);
  --acento-transp-2: rgba(178, 138, 255, 0.16);
}

.acento-verde {
  --acento: #c6ff34;
  --acento-transp: rgba(197, 255, 52, 0.675);
  --acento-transp-2: rgba(197, 255, 52, 0.16);

}

.acento-celeste {
  --acento: #b2d5e5;
  --acento-transp: rgba(178, 213, 229, 0.675);
  --acento-transp-2: rgba(178, 213, 229, 0.16);

}


html.claro {
  --fondo: rgb(234, 229, 227);
  --fondo-transp: rgba(234, 229, 227, 0.522);
  --componente: rgb(248, 251, 248);
  --componente-transp: rgba(248, 251, 248, 0.388);
  --texto: #171717;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
    0 8px 24px rgba(0, 0, 0, 0.08);
  --borde: #dbdde0;
  --borde-hover: #c9cacb;
  --texto-gris: #757272;
  --texto-gris-oscuro: rgb(143, 146, 157);
  --rojo: #ff5a4a;
  --rojo-transp: rgba(201, 69, 57, 0.293);
}

html {
  scrollbar-width: none;
  transition: background 0.2s ease;
}

html.claro body {
  background: var(--fondo);
}

html::-webkit-scrollbar {
  display: none;
}